services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    expose:
      - "3000"
    #only made public for dev purposes
    ports:
      - "3000:3000"
    volumes:
      - type: bind
        source: ./backend
        target: /app
  frontend:
    build:
      context: ./listifyFrontend
      dockerfile: Dockerfile.dev
    depends_on:
      - backend
    expose:
      - "3001"
      - "5173"
    ports:
      - "5173:5173"
      - "3001:3001"
    volumes:
      - type: bind
        source: ./listifyFrontend
        target: /app
      - /app/node_modules